# =============== #
# Unity generated #
# =============== #
CSharpScopeTemplateProject/[Tt]emp
CSharpScopeTemplateProject/[Oo]bj
CSharpScopeTemplateProject/[Bb]uild
CSharpScopeTemplateProject/[Bb]uilds
CSharpScopeTemplateProject/[Ll]ibrary
**/Library
sysinfo.txt
*.stackdump
/Assets/AssetStoreTools*
*.apk
*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
*.pidb.meta
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
.consulo/
/*.tmp
/*.svd
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db

[Dd]esktop.ini
**/Library/ShaderCache/
**/Library/metadata/
**/Library/metadata/

# Unity3D generated meta files
*.pidb.meta